<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Ionic 3</strong> Start Theme
      </h2>
    </div>

    <!-- Login form -->
    <form [formGroup]="loginForm" class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input formControlName="email" type="email" [class.invalid]="loginForm.controls.email.invalid && loginForm.controls.dirty"
          placeholder=""  value="">
        </ion-input>
      </ion-item>
			<ion-item class="login-error" no-lines no-padding *ngIf="loginForm.controls.email.invalid  && loginForm.controls.email.dirty">
				<p ion-text text-wrap>Please use correct email format, e.g.:someone@domain.com.</p>
			</ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input formControlName="password" [type]="passwordInputType" [class.invalid]="loginForm.controls.password.invalid && loginForm.controls.password.dirty"
				  placeholder="">
				</ion-input>
			</ion-item>
			<ion-item class="login-error" no-lines *ngIf="loginForm.controls.password.invalid  && loginForm.controls.password.dirty">
				<p ion-text text-wrap>Password must be at least 6 characters long</p>
			</ion-item>
			<button ion-button icon-only class="no-shadow" (click)="toggleViewPassword($event)">
				<ion-icon name="eye"></ion-icon>
			</button>
    </form>

    <p text-right ion-text color="secondary" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p>

    <div>
      <button ion-button icon-start block color="dark" tappable [disabled]="loginForm.invalid" (click)="login()">Login</button>

      <p text-center ion-text color="secondary">Or Sign in with:</p>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>


    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="secondary" tappable (click)="signup()">New here? <strong>Sign up</strong></span>
    </div>

  </div>
</ion-content>
